.paginacao{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.paginacaoOpcao{
    background-color: #9E184B;
    width: 19px;
    border-radius: 50%;
    color:#FAFAFA;
    cursor: pointer;
    transition: transform 300ms ease-in-out;

    
}

.containerPaginacao{
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.paginacaoOpcao:hover{
    transform: scale(1.2);
}