.list{

    text-align: center;
    background-color: black;
    height: 150px;
    color:aliceblue;
    padding: 3em;;
    
}

.social_list{
    display: flex; 
    justify-content: center;
    list-style-type: none;

}

.social_list li{
    margin:0 1em;
}

.social_list li:hover{
    color:  rgb(224, 224, 141);
}

.social_list svg{
    font-size: 1.5em;
    cursor:pointer;
}

.copy_right{
    margin-top: 2em;
}