.box{
    width: 513px;
    height: 472px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F2F4F8;
    border-radius: 10px;
    border: 2px solid #9E184B;
    padding: 20px;
    
}
.imojis{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.containerEmoji{
    text-align: center;
}

.emojiBorda{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    transition: transform 300ms ease-in-out;

}

.emojiBorda:hover{
    transform: scale(1.2);
    border: 2px solid #9E184B;;
    border-radius: 100%;
}



.imojis span{
    font-size: 40px;
}


.emojiBordaVisu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.razoesParaNota{
    border: 2px solid #A0A0A0;
    border-radius: 10px;
    width: 95%;
    height: 100px;
    padding: 10px;
}

.titulo{
  text-align: center;
}

.detalhe{
    text-align: center;
    align-items: center ;
}

.clickable {
    color: #9E184B;
    cursor: pointer;
    font-weight: 450;
    transition: 150ms linear;
}

.clickable:hover {
    transform: scale(1.1);
}