.pai{
width: 200px;

}

.check{
  display: flex;
  flex-direction: row;
  align-items: center ;
  text-align: center;
  color:#0FA958  ;
  width: 100%;
  height: 20px;
  margin-left:10%;
 
}

.circulo{
  display: flex;
  align-items: center ;
  text-align: center;
  flex-direction: row;
  color: #9E184B ;
  width: 100%;
  height: 20px;
  margin-left:10%;
 
}

.circulo span{
  font-size: 8px;
  width: 25px;
 
}

.check span{
  font-size: 20px;
  width: 26px;
}

.circulo p{
  font-size: 15px;
  color: #9E184B ;
  margin: 0px;
}

.check p {
  font-size: 15px;
  color:#0FA958  ;
  margin: 0px;
}